html{
	background-color: #d0d0d0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
	padding-top: 175px;
}

header{
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	text-align: center;
	font-family: Helvetica;
	background-color: white;
	border-bottom: 1px solid gray;
}

.view {
	position: relative;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
}