html{
	background-color: #d0d0d0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
	padding-top: 130px;
	min-width: 1000px;
}

header{
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	text-align: center;
	font-family: Helvetica;
	background-color: white;
	border-bottom: 1px solid gray;
	z-index: 1;
	padding-bottom: 32px;
}

.view {
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	height: 200px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 10px;
	max-width: 500px;
	min-width: 400px;
	padding: 5px;
	overflow: hidden;
}


.img {
	width: 20%;
	min-width: 100px;
	height: 141px;
	float: left;
	margin: 5px;
}

.title {
	width: 60%;
	float: left;
	margin: 5px;
	word-wrap: break-word;
}

.movie {
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	word-wrap:break-word;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

.movieImg {
	text-align: center;
	width: 100%;
	max-width: 325px;
	height: auto;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
}

body > div > div > div > div:nth-child(3) > div.col-xs-8 > p {
	color: grey;
}

body > div > div > div > div:nth-child(3) > div.col-xs-8 > p:nth-child(2) {
	color: black;
}